<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<title class='main-title'>SHARK</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  		<link rel="icon" type="image/png" href="images/favicon.ico">
  		<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  		<script src="javascripts/mainFunc.js"></script>
 		
	</head>
	<body onload="javascript:createTable();">
		<div class='totalscore' style='display:none' >
			<b id='scorehead'>Score:</b>
			<br>
			<div id='totalresult'>0</div>
		</div>
		<div class='logout'>
			<a href="/logout">Logout</a>
		</div>
		<div class='error' style='display:none' >No file selected</div>
		<div id='formholder' name='formholder'> 
		<table id='scoretable'>
		<thead>
			<th><span><b>Question NO</b></span></th>
				<th><span><b>Upload</b></span></th>
				<th><span><b>Max Score</b></span></th>
				<th><span><b>Status</b></span></th>
				<th><span><b>% Passed</b></span></th>
		</thead>
	
		</table>	
		
		</div>
		<footer>
			<p class="footer">Copyright &copy; GS355</p>
		</footer>

	</body>
	
</html>